{% extends 'base.html' %}
{% load static %}
{% block title %}Product List{% endblock %}

{% block content %}
<header>
    <div id="login-message">
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
</header>
<main>
    <div class="booking" id="get_data"> 
        <h1>Меню передзамовлення</h1>
         <form method="GET" action="">
            <label form="category">Фільтрувати за категорією</label>
            <select name="category" name="category">
                <option value="" {% if not selected_category %}selected{% endif %}>Усі категорії</option>
                <option value="POOL RELAX" {% if selected_category == 'POOL RELAX' %}selected{% endif %}>POOL RELAX</option>
                <option value="STARTERS" {% if selected_category == 'STARTERS' %}selected{% endif %}>STARTERS</option>
                <option value="SALADS" {% if selected_category == 'SALADS' %}selected{% endif %}>SALADS</option>
                <option value="GRILL" {% if selected_category == 'GRILL' %}selected{% endif %}>GRILL</option>
                <option value="BURGERS" {% if selected_category == 'BURGERS' %}selected{% endif %}>BURGERS</option>
                <option value="PASTA" {% if selected_category == 'PASTA' %}selected{% endif %}>PASTA</option>
                <option value="MAIN DISHES" {% if selected_category == 'MAIN DISHES' %}selected{% endif %}>MAIN DISHES</option>
                <option value="SOUPS" {% if selected_category == 'SOUPS' %}selected{% endif %}>SOUPS</option>
                <option value="SIDE DISHED" {% if selected_category == 'SIDE DISHED' %}selected{% endif %}>SIDE DISHED</option>
                <option value="DESSERTS" {% if selected_category == 'DESSERTS' %}selected{% endif %}>DESSERTS</option>
                <option value="MODERN COCKTAILS" {% if selected_category == 'MODERN COCKTAILS' %}selected{% endif %}>MODERN COCKTAILS</option>
                <option value="MIXDRINK" {% if selected_category == 'MIXDRINK' %}selected{% endif %}>MIXDRINK</option>
                <option value="CLASSIC COCKTAILS" {% if selected_category == 'CLASSIC COCKTAILS' %}selected{% endif %}>CLASSIC COCKTAILS</option>
                <option value="GORDON'S COCKTAILS" {% if selected_category == 'GORDONS COCKTAILS' %}selected{% endif %}>GORDON'S COCKTAILS</option>
                <option value="FINLANDIA COCKTAILS" {% if selected_category == 'FINLANDIA COCKTAILS' %}selected{% endif %}>FINLANDIA COCKTAILS</option>
                <option value="JACK DANIEL'S COCKTAILS" {% if selected_category == 'JACK DANIELS COCKTAILS' %}selected{% endif %}>JACK DANIEL'S COCKTAILS</option>
                <option value="NON ALCOHOL" {% if selected_category == 'NON ALCOHOL' %}selected{% endif %}>NON ALCOHOL</option>
                <option value="SAN MARE SPARKLING WINE" {% if selected_category == 'SAN MARE SPARKLING WINE' %}selected{% endif %}>SAN MARE SPARKLING WINE</option>
                <option value="SPARKLING WINE" {% if selected_category == 'SPARKLING WINE' %}selected{% endif %}>SPARKLING WINE</option>
                <option value="CHAMPAGNE" {% if selected_category == 'CHAMPAGNE' %}selected{% endif %}>CHAMPAGNE</option>
                <option value="WINES" {% if selected_category == 'WINES' %}selected{% endif %}>WINES</option>
                <option value="SCOTCH WHISKY" {% if selected_category == 'SCOTCH WHISKY' %}selected{% endif %}>SCOTCH WHISKY</option>
                <option value="BOURBON WHISKEY" {% if selected_category == 'BOURBON WHISKEY' %}selected{% endif %}>BOURBON WHISKEY</option>
                <option value="TENNESSEE WHISKEY" {% if selected_category == 'TENNESSEE WHISKEY' %}selected{% endif %}>TENNESSEE WHISKEY</option>
                <option value="IRISH WHISKEY" {% if selected_category == 'IRISH WHISKEY' %}selected{% endif %}>IRISH WHISKEY</option>
                <option value="GIN" {% if selected_category == 'GIN' %}selected{% endif %}>GIN</option>
                <option value="TEQUILA" {% if selected_category == 'TEQUILA' %}selected{% endif %}>TEQUILA</option>
                <option value="ROM" {% if selected_category == 'ROM' %}selected{% endif %}>ROM</option>
                <option value="COGNAC" {% if selected_category == 'COGNAC' %}selected{% endif %}>COGNAC</option>
                <option value="BRANDY" {% if selected_category == 'BRANDY' %}selected{% endif %}>BRANDY</option>
                <option value="VODKA FROM A VILLAGE" {% if selected_category == 'VODKA FROM A VILLAGE' %}selected{% endif %}>VODKA FROM A VILLAGE</option>
                <option value="VODKA" {% if selected_category == 'VODKA' %}selected{% endif %}>VODKA</option>
                <option value="FINLANDIA VODKA" {% if selected_category == 'FINLANDIA VODKA' %}selected{% endif %}>FINLANDIA VODKA</option>
                <option value="VERMOUTH" {% if selected_category == 'VERMOUTH' %}selected{% endif %}>VERMOUTH</option>
                <option value="ICE COLD SHOT" {% if selected_category == 'ICE COLD SHOT' %}selected{% endif %}>ICE COLD SHOT</option>
                <option value="ABSENT" {% if selected_category == 'ABSENT' %}selected{% endif %}>ABSENT</option>
                <option value="LIQUOR" {% if selected_category == 'LIQUOR' %}selected{% endif %}>LIQUOR</option>
                <option value="BEER" {% if selected_category == 'BEER' %}selected{% endif %}>BEER</option>
                <option value="COLD DRINKS" {% if selected_category == 'COLD DRINKS' %}selected{% endif %}>COLD DRINKS</option>
                <option value="COFFEE" {% if selected_category == 'COFFEE' %}selected{% endif %}>COFFEE</option>
            </select>
            <button type="submit" class="booking-button">Застосувати фільтр</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Категорія</th>
                    <th>Назва</th>
                    <th>Розмір порції</th>
                    <th></th>
                    <th>Ціна</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.category }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.portion_size }}</td>
                    <td><img src="{% static product.image %}" alt="{{ product.name }}"></td>
                    <td>{{ product.price }}</td>
                    <td>
                        {% if user.is_authenticated %}
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="booking-button">Додати до кошику</button>
                            </form>
                        {% else %}
                            <p>Для додавання товару до кошика потрібно <a href="{% url 'login' %}">увійти</a> в систему.</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; Перша</a>
                    <a href="?page={{ products.previous_page_number }}">Попередня</a>
                {% endif %}
    
                <span class="current">
                    Сторінка {{ products.number }} з {{ products.paginator.num_pages }}.
                </span>
    
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">Наступна</a>
                    <a href="?page={{ products.paginator.num_pages }}">Остання &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="cart-navigation">
        <button type="button" class="booking-button" onclick="window.location.href='{% url 'cart' %}'">Перейти до корзини</button>
    </div>
</main>
{% endblock %}