{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}

{% block content %}
<main>
    <div class="booking" id="get_data"> 
        <h1>Ваші товари у корзині</h1>
        <table>
            <thead>
                <tr>
                    <th>Назва </th>
                    <th>Розмір порції</th>
                    <th>Ціна</th>
                    <th>Кількість</th>
                    <th>Вартість</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart.cartitem_set.all %}
                <tr id="item-{{ item.id }}">
                    <td>{{ item.product.name }}</td>
                    <td class="center-text">{{ item.product.portion_size }}</td>
                    <td class="center-text">{{ item.product.price }}</td>
                    <td class="center-text">{{ item.quantity }}</td>
                    <td class="center-text total-price">{{ item.total_price }}</td>
                    <td> 
                        <form method="post" action="{% url 'add_to_cart' item.product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="cart-button">+</button>
                        </form>
                    </td>  
                    <td>
                        <form method="post" action="{% url 'remove_from_cart' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="cart-button">-</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="cart-total">
             <p style="text-align: right;">Загальна сума: <span id="total-amount">{{ total_amount }}</span></p>
        </div>
        <div class="cart-navigation">
            <button type="button" class="booking-button" onclick="window.location.href='{{ last_visited_page }}'">Продовжити покупки</button>
            <button type="button" class="booking-button" onclick="window.location.href='{% url 'confirm_payment' %}'">Оплата замовлення</button>
        </div>
    </div>
</main>
{% endblock %}