{% extends 'base.html' %}
{% block title %}Передзамовлення{% endblock %}
{% load static %}

{% block content %}
    <div class="form-group">
    <label for="order-date">Дата передзамовлення</label>
    <input type="date" id="order-date" name="order-date" required>
    
    <label for="order-time">Час передзамовлення</label>
    <input type="time" id="order-time" name="order-time" required>
    
    <label for="phone-number">Номер телефону</label>
    <input type="tel" id="phone-number" name="phone-number" pattern="(\+380|0)[0-9]{9}" required value="{{ phone_number }}">
    <small>Формат: +380991234567 або 0991234567</small>
    
    <label for="total-amount">Загальна сума замовлення</label>
    <input type="text" id="total-amount" name="total-amount" value="{{ total_amount }} грн" readonly>
    
    <div class="form-group">
        <label for="card-number">Номер карти</label>
        <input type="text" id="card-number" name="card-number" required placeholder="Введіть номер картки">
        
        <label for="expiry-date">Термін дії</label>
        <input type="text" id="expiry-date" name="expiry-date" placeholder="MM/YY" required>
        
        <label for="cvc">CVC</label>
        <input type="text" id="cvc" name="cvc" required placeholder="Введіть CVC">
        
        <button id="pay-btn" type="button" class="booking-button">Оплатити</button>
    </div>
</div>

<div id="payment-details-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Оплата пройшла успішно!</p>
        <p>Наш адміністратор зв'яжеться з Вами для уточнень.</p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('payment-details-modal');
        var btn = document.getElementById('pay-btn');
        var span = document.getElementsByClassName('close')[0];

        btn.onclick = function () {
            modal.style.display = 'block';
        }

        span.onclick = function () {
            modal.style.display = 'none';
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }
    });
</script>
{% endblock %}