{% extends 'base.html' %}
{% load static %}
{% block title %}Sungrilla{% endblock %}

{% block content %}
<section>
<div class="location" id="home"> 
    <p class="styled-text">Sungrilla Secret Beach — це неповторне місце на березі річки Дніпро, яке вражає своєю природною красою і спокоєм. 
        Розташований вдало віддалено від міської гамірності, наш заклад пропонує унікальну можливість відпочити 
        в середовищі, де природа дарує свої найяскравіші барви.
    <br>Зелені дерева та рослини доповнюють живописний вигляд річкового узбережжя, створюючи ідеальну обстановку 
        для відпочинку.</p>
    <img src="{% static 'images/ad.jpg' %}" alt="Home">
    <p class="styled-text">
        Крім того, Sungrilla Secret Beach пропонує різноманітні розваги та послуги для гостей.
        Ви можете провести час в комфортних зонах для відпочинку, або спробувати страви від нашого шеф-кухаря, 
        які приготовані з найсвіжіших інгредієнтів.
    </p>
    <p>
        <b><span>#keepitsecret</span></b>
        Знайдіть нас в Instagram: <a href="https://www.instagram.com/sungrilla/" target="_blank" style="color: #1b1b1b;">@sungrilla</a>
    </p>
</div>    
</section>
{% endblock %}
