{% extends 'base.html' %}
{% load static %}
{% block title %}Локації - Sungrilla{% endblock %}

{% block buttons %}
    <nav class="nav-buttons">
        <a href="#family_zone" class="nav-buttons">Сімейна зона</a>
        <a href="#adult_zone" class="nav-buttons">Зона 18+</a>
        <a href="#bar_zone" class="nav-buttons">Бар</a>
        <a href="#terrace_zone" class="nav-buttons">Тераса</a>
    </nav>
{% endblock %}
{% block content %}
    <section>
        <div class="location" id="family_zone"> 
            <h2 class="styled-text">Сімейна зона</h2>
            <p class="styled-text">Сімейна зона призначена для відпочинку всієї родини. Тут ви зможете насолодитися спокоєм та комфортом,
                а діти матимуть можливість грати та розважатися.</p>
            <img src="{% static 'images/family.png' %}" alt="Family Zone">
        </div>
        <div class="location" id="adult_zone">
            <h3 class="styled-text">Зона 18+</h3>
            <p class="styled-text">Зона 18+ -це зона для дорослих, де ви можете насолоджуватися атмосферою спокою та розслаблення без дітей під
                сучасну музику Dj. А також приймати участь у конкурсах та отримувати подарунки від закладу.</p>
            <img src="{% static 'images/adult_zone.png' %}" alt="Adult zone">
        </div>
        <div class="location" id="bar_zone">
            <h4 class="styled-text">Бар</h4>
            <p class="styled-text"> В барній зоні ви зможете насолоджуватися напоями та закусками в приємній компанії друзів або родини.</p>
            <img src="{% static 'images/bar_zone.jpg' %}" alt="Bar zone">
        </div>
        <div class="location" id="terrace_zone">
            <h5 class="styled-text">Тераса</h5>
            <p class="styled-text">Тераса дозволяє насолоджуватися природою та красивим краєвидом під час обіду або вечері.
                А також тут можна провести день народження, весілля, корпоратив та усі свята які забажаєте!</p>
            <img src="{% static 'images/terrace.png' %}" alt="Terrace zone">
         </div>
       <p class="styled-text">
        <b><span>#keepitsecret</span></b>
        Знайдіть нас в Instagram: <a href="https://www.instagram.com/sungrilla/" target="_blank" style="color: #1b1b1b;">@sungrilla</a>
    </p>
    </section>
{% endblock %}
