{% extends 'base.html' %}
{% load static %}
{% block title %}
    Меню
{% endblock %}

{% block buttons %}
    <nav class="nav-buttons flex-container">
        <a href="#food_menu" class="nav-buttons">Меню кухня</a>
        <a href="#bar_menu" class="nav-buttons">Меню бар</a>
    </nav>
{% endblock %}
{% block content %}
    <section>
        <div class="menu" id="food_menu">
            <a href="{% url 'food_menu' %}"></a>
            <img src="{% static 'menu_images/page1.jpg' %}" alt="Food Menu">
            <img src="{% static 'menu_images/page2.jpg' %}" alt="Food Menu">
            <img src="{% static 'menu_images/page3.jpg' %}" alt="Food Menu">
        </div>
        <div class="menu" id="bar_menu">
            <a href="{% url 'bar_menu' %}"></a>
            <img src="{% static 'menu_images/page4.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page5.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page6.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page7.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page8.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page9.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page10.jpg' %}" alt="Bar Menu">
            <img src="{% static 'menu_images/page11.jpg' %}" alt="Bar Menu">
        </div>
    </section>
{% endblock %}
