{% extends 'base.html' %}
{% load static %}
{% block title %}Sungrilla{% endblock %}

{% block content %}
<section>
    <div class="price-list">
        <img src="{% static 'product_images/shezlong.png' %}" alt="Shezlong">
        <h2>Оренда шезлонгу</h2>
        <p>Будні дні: 500 грн</p>
        <p>Вихідні дні: 700 грн</p>
    </div>
    <div class="price-list">
        <img src="{% static 'product_images/bed.png' %}" alt="Bed">
        <h2>Оренда ліжка</h2>
        <p>Будні дні: 1200 грн</p>
        <p>Вихідні дні: 1700 грн</p>
    </div>
    <div class="price-list">
        <img src="{% static 'product_images/bungalo.png' %}" alt="Bungalo">
        <h2>Оренда бунгало</h2>
        <p>Будні дні: 2000 грн</p>
        <p>Вихідні дні: 2500 грн</p>
    </div>

    <p class="styled-text">Шезлонги не бронюються. Діє правило живої черги. Ліжка та бунгало бронюються мінімум за три дні до візиту,
            з обов’язковою попередньою оплатою суми оренди та депозиту на меню кухні та бару.</p>
    <p class="styled-text">Важливо! Якщо займаєте місце без броні - депозит не сплачується. Приходьте раніше і займайте найкращі місця,
            сплачуючи тільки суму оренди.</p>
    <p><b>Працюємо з 10:00</b></p>
</section>
    
{% endblock %}
